.App {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}
/* app header */
.appHeader {
  background: linear-gradient(135deg, #adb2b4 0%, #44464a 135%);
  width: 100%;
  color: #f5f5f5;
}

.appHeader > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
}

/* end of app header */

/* logo */
#logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f5f5f5;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem;
}

/* signin-btn */
#signin-btn {
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-decoration: none;
  margin-right: 1rem;
}

/* hover signin-btn */
#signin-btn:hover {
  background-color: #f5f5f5;
  color: #44464a;
  cursor: pointer;
}

/* landing page */
.landingPage {
  overflow-y: scroll;
}
/* end of landing page */

/* landing page background */
.landingPage-1 {
  background-image: url("https://images.unsplash.com/photo-1572947650440-e8a97ef053b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 16px;
  height: 100vh !important;
}
/* end */

.landingPage-2 {
  background:linear-gradient(90deg,#C0C0C0 0%,#E9F7FF 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 16px;
  height: 100vh !important;
  
}

/* footer section */
.footer {
  background: linear-gradient(90deg, #2e5584 -30%, #031c33 60%);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 16px;
}
/* end of footer section */
